hpcc/src
hpcc/results

onnx/__pycache__
onnx/data
onnx/results

ycsb/client/ycsb-core
ycsb/client/results

nginx/results
nginx/jmeter.log
coremark/results

fio/src
fio/result.txt

temp